*{
  margin:0;
  PADDING:0;
}
.app-container {
  display: grid;
  grid-template-columns: 15% auto;

  grid-template-areas:  'header header header header header'
                        'side-nav main main main main'
                        'footer footer footer footer footer';
}
.dark-blue{
  background-color: #282827;
  color:#DCD8CF;
  font-size:1.5em;
}

@media  only screen and (max-width:1024px){
  .app-container{
    grid-template-areas:  'header header header header header'
                        'side-nav side-nav side-nav side-nav side-nav'
                        'main main main main main'
                        'footer footer footer footer footer';
  }
  .side-nav{
    display: none;
  }
  .hamburger-wrapper{
    display: block;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
